@import url("reset.css");
@import url("typography.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: #eee;
}

.app-container {
  text-align: center;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-footer {
  margin-top: auto;
} 

.app-primary-color {
  color:  var(--app-primary-color, rgb(22, 163, 254));
}

.app-secondary-color {
  color: var(--app-secondary-color, rgb(35, 201, 157));
}

.app-button-primary {
  background-color: var(--app-primary-color, rgb(22, 163, 254));
  color: white;
}

.app-button-primary:hover {
  background: var(--app-secondary-color, rgb(35, 201, 157));
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);
}

.app-button-secondary {
  background: var(--app-secondary-color, rgb(35, 201, 157));
  color: white;
}

.app-button-secondary:hover {
  background: var(--app-primary-color, rgb(22, 163, 254));
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);
}
