:root {
	--font-size-initial: 12px;
	--font-size-lv2: 14px;
	--font-size-lv3: 16px;
	--font-size-lv4: 18px;
	--spacing-site: 2rem;
	--color-text-main: #000;
	--default-box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.4);
	--blue-box-shadow: 0px 0px 12px 2px rgba(64, 163, 244, 0.8);
	--app-primary-color: rgb(22, 163, 254);
	--app-primary-hover-color: rgb(9, 76, 121);
	/* color: #16A3FE; */
	--app-secondary-color: rgb(35, 201, 157);
	--app-secondary-hover-color: rgb(10, 90, 69);
	/* color: #23c99d; */
	--app-active-color: #FFA000;
}

html {
	font: var(--font-size-initial, 12px) / 1.5 -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

@media screen and (min-width: 500px) {
	html {
		font-size: var(--font-size-lv2, 14px);
	}
}

@media screen and (min-width: 700px) {
	html {
		font-size: var(--font-size-lv3, 16px);
	}
}

@media screen and (min-width: 1600px) {
	html {
		font-size: var(--font-size-lv4, 18px);
	}
}

body,
table,
th,
td,
form,
input,
textarea,
option,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 1em/1.2 Georgia, serif;
	margin: 1em 0 0.5em 0;
	padding: 0;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

p {
	margin: 0;
	padding-bottom: 1.5rem;
}

ol,
ul,
dl {
	margin: 0 0 1.5rem 0;
}

ul,
ol {
	padding: 0;
	margin-left: 1.5rem;
}

ul li,
ol li {
	list-style-position: inside;
}

ul ul {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

blockquote {
	border-left: 4px solid #DDD;
	font-style: italic;
	margin: 0 0 1.5rem 2rem;
	padding: 1rem 2rem;
	position: relative;
	color: #444;
	font-family: "Georgia", serif;
	padding-top: 0;
}

blockquote .author {
	text-align: right;
}

@media screen and (min-width: 500px) {
	blockquote {
		width: 40%;
	}
}

table {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid #CCC;
	border-spacing: 0;
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid #CCC;
	padding: 0.3rem 0.5rem;
}

table thead th {
	text-align: left;
	background: #CCC;
}

table tr:nth-child(odd) td {
	background: #F1F1F1;
}

table tr:hover td {
	background: black;
	color: #FFF;
	border-color: transparent;
}

hr {
	margin: 2rem 0;
}

img[class^="align-"] {
	padding: 0.5rem;
	background: #FFF;
	border: 3px solid #222;
	box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 500px) {
	img[class^="align-"] {
		display: block;
		margin: 1.5rem 0;
	}
}

@media screen and (min-width: 500px) {

	.align-left {
		float: left;
		margin: 0 1.5rem 1rem 0;
	}

	.align-right {
		float: right;
		margin: 0 0 1rem 1.5rem;
	}

}